flows.json
[{"id":"ca395f72.9c5ef","type":"tab","label":"Text to speech bank details","disabled":false,"info":""},{"id":"8905972e.d4e6c8","type":"watson-text-to-speech","z":"ca395f72.9c5ef","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateV3Voice","voicehidden":"en-GB_KateV3Voice","format":"audio/wav","password":"","apikey":"vviktSmU3z8tWQzO54mjT71qCgic_pFWdoU9WQwwKUKo","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/2baaf8f8-2b72-4bcf-8170-e6c4f36c21ca","x":350,"y":160,"wires":[["c123cf19.51392"]]},{"id":"17025c95.e70843","type":"inject","z":"ca395f72.9c5ef","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello , how are you","payloadType":"str","x":140,"y":120,"wires":[["8905972e.d4e6c8"]]},{"id":"c123cf19.51392","type":"play audio","z":"ca395f72.9c5ef","name":"","voice":"","x":660,"y":120,"wires":[]},{"id":"8d73c926.6d61d8","type":"ui_form","z":"ca395f72.9c5ef","name":"","label":"","group":"e9cb6067.645dc","order":1,"width":0,"height":0,"options":[{"label":"Enter your Name","value":"name","type":"text","required":true,"rows":null}],"formValue":{"name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["6ce6f505.8d89fc"]]},{"id":"5f17f135.b8f2f","type":"debug","z":"ca395f72.9c5ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"6ce6f505.8d89fc","type":"function","z":"ca395f72.9c5ef","name":"person name","func":"msg.payload=msg.payload.name\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["5f17f135.b8f2f","8905972e.d4e6c8"]]},{"id":"61a77f3c.c746c","type":"ui_form","z":"ca395f72.9c5ef","name":"","label":"","group":"e9cb6067.645dc","order":2,"width":0,"height":0,"options":[{"label":"Enter Account number","value":"number","type":"text","required":true,"rows":null}],"formValue":{"number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":340,"wires":[["634a91df.b57ff"]]},{"id":"634a91df.b57ff","type":"function","z":"ca395f72.9c5ef","name":"Account number","func":"msg.payload=msg.payload.number\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":340,"wires":[["c49501b.10738","8905972e.d4e6c8"]]},{"id":"c49501b.10738","type":"debug","z":"ca395f72.9c5ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"e9cb6067.645dc","type":"ui_group","z":"","name":"Enter your Bank details","tab":"787b12d.700e3ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"787b12d.700e3ec","type":"ui_tab","z":"","name":"Helping visually impaired people in Banking and finance services","icon":"dashboard","disabled":false,"hidden":false}]